body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/* Bagian Header + Navbar */

.part1{
    height: 400px;
    background-color: #1d1d1d;
}

.navbar{
    background: rgba(185, 183, 183, 0.5);
    filter: blur(15px);
    filter: opacity(150%);
    filter: brightness(150%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button1 a{
    color: white;
    font-family: sans-serif;
    background-color: #d50000;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.component-1{
    padding-left: 50px;
    width: 30%;
}

.component-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 300px;
    width: 30%;
    font-size: 20px;
}

.component-3{
    text-decoration: none;
    margin-left: 310px;
    width: 8%;
}

.component-3 a:hover{
    color: white;
    background-color: black;
    text-shadow: 0 0 8px red, 0 0 8px red;
}

.lain:hover{
    font-weight: bold;
    color: black;
    text-shadow: 0 0 8px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 0 0 8px white;
}

.lain{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}

.abo{
    font-weight: bold;
    color: red;
    text-shadow: 0 0 8px black, 0 0 8px black, 0 0 8px black, 0 0 8px black, 0 0 8px black;
    text-decoration: none;
    font-family: sans-serif;
}

.judul{
    color: red;
    text-shadow: 0 0 10px black, 0 0 15px red, 0 0 20px red;;
    margin-top: 50px;
    text-align: left;
    margin-left: 100px;
    font-size: 70px;
    font-family: sans-serif;
}

@keyframes glow {
    from {
      text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px #d50000, 0 0 20px #d50000,
        0 0 25px #d50000, 0 0 30px #d50000, 0 0 35px #d50000;
    }
    to {
      text-shadow: 0 0 10px red, 0 0 20px red, 0 0 25px #d50000,
        0 0 35px #d50000, 0 0 40px #d50000, 0 0 50px #d50000, 0 0 60px #d50000;
    }
}

.sub-judul{
    margin-top: 30px;
    font-size: 40px;
    color: white;
    text-align: left;
    margin-left: 100px;
    font-family: sans-serif;
}

.learn{
    margin-top: 5%;
    display: grid;
    place-items: center;
}

.pemisah-1{
    height: 10px;
    background-color: black;
}

.judul1{
    color: red;
    text-shadow: 0 0 10px black, 0 0 15px red, 0 0 20px red;;
    padding-top: 50px;
    text-align: right;
    margin-right: 100px;
    font-size: 70px;
    font-family: sans-serif;
}

.sub-judul1{
    padding-top: 30px;
    font-size: 40px;
    color: white;
    text-align: right;
    margin-right: 100px;
    font-family: sans-serif;
}

.part-2{
    background-color: #1d1d1d;
    height: 300px;
}

.pemisah-2{
    height: 10px;
    background-color: black;
}

.judul2{
    color: red;
    text-shadow: 0 0 10px black, 0 0 15px red, 0 0 20px red;;
    padding-top: 50px;
    text-align: left;
    margin-left: 100px;
    font-size: 70px;
    font-family: sans-serif;
}

.sub-judul2{
    padding-top: 30px;
    font-size: 40px;
    color: white;
    text-align: left;
    margin-left: 100px;
    font-family: sans-serif;
}

.part-3{
    background-color: #1d1d1d;
    height: 300px;
}

.pemisah-3{
    height: 10px;
    background-color: black;
}

.judul3{
    color: red;
    text-shadow: 0 0 10px black, 0 0 15px red, 0 0 20px red;;
    padding-top: 50px;
    text-align: right;
    margin-right: 100px;
    font-size: 70px;
    font-family: sans-serif;
}

.sub-judul3{
    padding-top: 30px;
    font-size: 40px;
    color: white;
    text-align: right;
    margin-right: 100px;
    font-family: sans-serif;
}

.part-4{
    background-color: #1d1d1d;
    height: 300px;    
}

.pemisah-4{
    height: 10px;
    background-color: black;
}

.judul4{
    color: red;
    text-shadow: 0 0 10px black, 0 0 15px red, 0 0 20px red;;
    padding-top: 50px;
    text-align: left;
    margin-left: 100px;
    font-size: 70px;
    font-family: sans-serif;
    /* animation: glow 1s ease-in-out infinite alternate; */
}

.sub-judul4{
    /* margin-top: 30px; */
    padding-top: 30px;
    font-size: 40px;
    color: white;
    text-align: left;
    margin-left: 100px;
    font-family: sans-serif;
}

.part-5{
    background-color: #1d1d1d;
    height: 300px;
}

/* Responsive */

.navbar .component-2{
    display: flex;

}

.navbar .component-2 #nav-link{
    text-decoration: none;
    padding: 20px;
    display: block;
}
.navbar .component-2 #nav-link:hover{
    font-weight: bold;
    color: black;
    text-shadow: 0 0 8px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 0 0 8px white;
}

.navbar .navbar-toogle{
    display: none;
}

@media only screen and (max-width: 900px){
    .judul{
        font-size: 60px;
    }

    .judul1{
        font-size: 60px;
    }

    .judul2{
        font-size: 60px;
    }

    .judul3{
        font-size: 60px;
    }

    .judul4{
        font-size: 60px;
    }

    .sub-judul{
        font-size: 30px;
    }

    .sub-judul1{
        font-size: 30px;
    }

    .sub-judul2{
        font-size: 30px;
    }

    .sub-judul3{
        font-size: 30px;
    }

    .sub-judul4{
        font-size: 30px;
    }

    .navbar{
        background: rgba(185, 183, 183, 0.5);
        filter: blur(15px);
        filter: opacity(150%);
        filter: brightness(150%);        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .component-1{
        margin-right: 470px;
    }

    .navbar-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .navbar-toogle{
        display: block;
        padding: 20px;
    }

    .component-3{
        padding:  0px 0px 0px 0px;
    }

    .component-2{
        display: none;
        margin: 0px 0px 0px 0px;
    }
    .component-3 a:hover{
        color: white;
        background-color: black;
        text-shadow: 0 0 8px red, 0 0 8px red;
    }
    
}

@media only screen and (max-width: 375px){
    .part1{
        height: 300px;
    }
    .part-2, .part-3, .part-4, .part-5{
        height: 150px;
    }

    .judul{
        margin: 0px;
        padding: 40px 5px 15px 0px;
        margin-left: 35px;
        font-size: 30px;
    }

    .judul1{
        margin: 0px;
        padding: 25px 5px 15px 0px;
        margin-right: 35px;
        font-size: 30px;
    }

    .judul2{
        margin: 0px;
        padding: 25px 5px 15px 0px;
        margin-left: 35px;
        font-size: 30px;
    }

    .judul3{
        margin: 0px;
        padding: 25px 5px 15px 0px;
        margin-right: 35px;
        font-size: 30px;
    }

    .judul4{
        margin: 0px;
        padding: 25px 5px 15px 0px;
        margin-left: 35px;
        font-size: 30px;
    }

    .sub-judul{
        padding: 0px;
        padding-left: 40px;
        padding-right: 30px;
        margin: 10px 5px 10px 0px;
        font-size: 15px;
    }

    .sub-judul1{
        padding: 0px;
        padding-left: 10px;
        padding-right: 40px;
        margin: 10px 5px 10px 0px;
        font-size: 15px;
    }

    .sub-judul2{
        padding: 0px;
        padding-left: 40px;
        padding-right: 30px;
        margin: 10px 5px 10px 0px;
        font-size: 15px;
    }

    .sub-judul3{
        padding: 0px;
        padding-left: 10px;
        padding-right: 40px;
        margin: 10px 5px 10px 0px;
        font-size: 15px;
    }

    .sub-judul4{
        padding: 0px;
        padding-left: 40px;
        padding-right: 40px;
        margin: 10px 5px 10px 0px;
        font-size: 15px;
    }

    .navbar{
        background: rgba(185, 183, 183, 0.5);
        filter: blur(15px);
        filter: opacity(150%);
        filter: brightness(150%);        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .component-1{
        margin-right: 140px;
    }

    .navbar-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .navbar-toogle{
        display: block;
        padding: 20px;
    }

    .component-3{
        padding: 0px;
        padding-right: 250px;
        margin: 5px;
    }

    .button1 a{
        font-size: 10px;
    }
    .component-2{
        display: none;
        margin: 0px;
        padding: 0px;
        margin-right: 40px;
        font-size: 10px;
    }

    .component-3 a:hover{
        color: white;
        background-color: black;
        text-shadow: 0 0 8px red, 0 0 8px red;
    }
    
}

